@model PizzaWorld.WebClient.Models.OrderViewModel
<section class="col-md-6">
  <p>Customer @Model.Customer order summary for store @Model.Store </p>
  @foreach (var item in Model.Pizzas)
    {
      <label for="@item">@item.PizzaType</label>
    }
  <form asp-action="PlaceOrder" asp-controller="order" asp-antiforgery="true" method="POST">

    @Html.HiddenFor(m=>m.Customer)
    @Html.HiddenFor(m=>m.Store)
    @Html.HiddenFor(m=>m.Pizzas)


    <button type="submit">Place Order</button>
  </form>
</section>
