@model PizzaWorld.WebClient.Models.CustomerViewModel

@{
  ViewBag.Title = "Customer - Home";
  Layout = "_Layout";
}

<section>
  <h2>Customer: @Model.Name</h2>

  <form>
    @Html.ActionLink("Order History","OrderHistory","Customer",this.Model)
  </form>

  <form>
    @Html.HiddenFor(m=>m.Name)
    @Html.HiddenFor(m=>m.SelectedStore)
    @Html.HiddenFor(m=>m.Orders)
    @Html.HiddenFor(m=>m.Order.Pizzas)
    @Html.ActionLink("Make Order","CreateOrder","Customer",this.Model)
  </form>

</section>
